@font-face {
    font-family: 'Google Sans';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('/fonts/google-sans/GoogleSans-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Google Sans';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url('/fonts/google-sans/GoogleSans-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'Google Sans';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url('/fonts/google-sans/GoogleSans-Bold.ttf') format('truetype');
}
