{% extends "layouts/base.njk" %}

{% block additionalHead %}
        <script src="/js/audits.js" type="module" defer></script>
{% endblock %}
{% block content %}
    <div>{{ auditsQueueId }} ###DEBUG</div>
    <div id="audits" class="audit-container" data-audits data-audits-queue-id="{{ auditsQueueId }}">
        <ul>
        {% for url in urls %}
            <li>
                {{url}} ###DEBUG
                <div>
                    
                </div>
            </li>
        {% endfor %}
        </ul>
    </div>
{% endblock %}
