<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{ title }}</title>
        <link rel="stylesheet" href="/css/app.css">
        <script src="/js/app.js" type="module" defer></script>
        {% block additionalHead %}{% endblock %}
    </head>
    <body>
        <div class="shell">
            {% include "partials/header.njk" %}
            <main>
                {% block content %}{% endblock %}
            </main>
        </div>
        {% include "partials/modal.njk" %}
        {% if debug %}
            {% include "partials/debug-modal-tool.njk" %}
        {% endif %}
    </body>
</html>
